:root{
    --bg: #e9ecef;
    --text: #212529;
    --text-invert: #e9ecef;
    --text-hov: #343a40;
    --highlight: #ff8800;
    --higlight-hov: #ffaa33;
    --bg-sec: #dee2e6;
    --text-sec: #909294;
    --timer-size: 175px;
    --scramble-size: 20px;
}

*{
    font-family: 'Reflow', sans-serif;
    transition: all 0.2s ease-in-out;
}

body{
    background-color: var(--bg);
    color: var(--text);
}

.text-highlight{
    color: var(--highlight);
}

.text-main{
    color: var(--text);
}

@font-face {
    font-family: 'Lack Regular';
    src: url(../../public/font/Lack-Regular.otf);
}

button , .a-button{
    border: none;
    color: var(--text-invert);
    padding: 3px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button-highlight{
    background-color: var(--highlight);
    color: var(--text);
}

.button-main{
    background-color: var(--text);
}

.button-transparent{
    background-color: transparent;
    color: var(--text);
}

.button-highlight:hover{
    background-color: var(--higlight-hov);
}

.button-main:hover{
    background-color: var(--text-hov);
}

.button-transparent:hover{
    color: var(--text-hov);
}

.collapse-item{
    color: var(--text);
    text-decoration: none;
}

.collapse-item:hover{
    color: var(--highlight);
}

.tooltip{
    font-size: 12px;
}

#timer{
    font-size: var(--timer-size);
}

#go, #set{
    width: 20px;
    height: 20px;
}

.inactive-led{
    background-color: #343a40;
    border: 1px solid #e9ecef;
}

.set-led{
    background-color: red;
}

.go-led{
    background-color: green;
}

.go-led-blink{
    background-color: green;
    animation: goblink 75ms infinite;
    animation-delay: 75ms;
}

.set-led-blink{
    background-color: red;
    animation: setblink 75ms infinite;
}

@keyframes setblink {
    0% {
        background-color: red;
    }
    50% {
        background-color: #343a40;
    }
    100% {
        background-color: red;
    }
}

@keyframes goblink {
    0% {
        background-color: green;
    }
    50% {
        background-color: #343a40;
    }
    100% {
        background-color: green;
    }
}

.hand{
    font-size: 70px;
}

.hand-inactive{
    color: var(--text-sec);
}

.hand-active{
    color: var(--text);
}

.main-puzzle{
    font-size: 120px;
}

.sec-puzzle{
    font-size: 50px;
}

.redirect{
    text-decoration: dashed underline;
    color: var(--text);
}

.redirect:hover{
    color: var(--highlight);
}

#showPassword, #showConfirmPassword{
    cursor: pointer;
    user-select: none;
}

.dropdown-menu{
    background-color: var(--bg-sec);
}

.dropdown-item{
    color: var(--text);
}

.modal-content{
    background-color: var(--bg-sec);
    color: var(--text)
}

.btn-close{
    color: var(--text);
}

.puzzle-box, .statistics-box, .times-box{
    border: 3px solid var(--text);
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--text);
}

.statistics-box{
    height: 35vh;
    overflow-y: scroll;
}

.statistic-title{
    font-size: 1.2rem;
}

.statistic-content{
    font-size: 1.1rem;
}

.single-statistic{
    border: 2px solid var(--text);
    box-shadow: 0px 0px 3px var(--text);
}

.collapse{
    border-top: 3px dashed var(--text);
}

.modal-header{
    border-bottom: 1px solid var(--text);
}

.modal-footer{
    border-top: 1px solid var(--text);
}

.form-check-input:checked {
    background-color:var(--highlight);
    border-color:var(--highlight);
}

.form-check-input:focus {
    border-color: #ff880077;
    outline: 0;
    box-shadow: 0 0 10px #ff880077;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
    background-color: var(--bg-sec);
    color: var(--text);
    border: 1px solid var(--text);
}

.scramble{
    font-size: var(--scramble-size);
}

::-webkit-scrollbar {
    display: none;
}

#deleteSessionBtn, #exportBtn{
    font-size: 1rem;
}

.times-box{
    height: 35vh;
    overflow-y: scroll;
}


/* LOADER */

/* From Uiverse.io by Nawsome */ 
.loadingspinner {
    --square: 26px;
    --offset: 30px;
    --duration: 2.4s;
    --delay: 0.2s;
    --timing-function: ease-in-out;
    --in-duration: 0.4s;
    --in-delay: 0.1s;
    --in-timing-function: ease-out;
    width: calc( 3 * var(--offset) + var(--square));
    height: calc( 2 * var(--offset) + var(--square));
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
}

.loadingspinner div {
    display: inline-block;
    background: darkorange;
    /*background: var(--text-color);*/
    /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
    border: none;
    border-radius: 2px;
    width: var(--square);
    height: var(--square);
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-size: 6pt;
    color: black;
}

.loadingspinner #square1 {
    left: calc( 0 * var(--offset) );
    top: calc( 0 * var(--offset) );
    animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square2 {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square3 {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square4 {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square5 {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}

@keyframes square1 {
    0% {
        left: calc( 0 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }
    
    8.333% {
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
    
    100% {
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes square2 {
    0% {
        left: calc( 0 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
    
    8.333% {
        left: calc( 0 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }
    
    16.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }
    
    25.00% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
    
    83.33% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
    
    91.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }
    
    100% {
        left: calc( 0 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }
}

@keyframes square3 {
    0%,100% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
    
    16.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
    
    25.00% {
        left: calc( 1 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }
    
    33.33% {
        left: calc( 2 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }
    
    41.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
    
    66.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
    
    75.00% {
        left: calc( 2 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }
    
    83.33% {
        left: calc( 1 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }
    
    91.67% {
        left: calc( 1 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes square4 {
    0% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
    
    33.33% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
    
    41.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }
    
    50.00% {
        left: calc( 3 * var(--offset) );
        top: calc( 2 * var(--offset) );
    }
    
    58.33% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
    
    100% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes square5 {
    0% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
    
    50.00% {
        left: calc( 3 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
    
    58.33% {
        left: calc( 3 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }
    
    66.67% {
        left: calc( 2 * var(--offset) );
        top: calc( 0 * var(--offset) );
    }
    
    75.00% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
    
    100% {
        left: calc( 2 * var(--offset) );
        top: calc( 1 * var(--offset) );
    }
}

@keyframes squarefadein {
    0% {
        transform: scale(0.75);
        opacity: 0.0;
    }
    
    100% {
        transform: scale(1.0);
        opacity: 1.0;
    }
}

.loadingtext{
    animation-name: fading-text;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fading-text{
    0% {
        opacity: 0.0;
    }
    
    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}
/* END LOADER */